<!DOCTYPE html>
<html>
<head>
    <title>Зашифровка/расшифровка</title>
</head>
<body>
    <h1>{{ method.caption }} Method</h1>
    <form id="textForm" action="{{ url_for('encrypt') }}" method="post">
        <input type="hidden" name="method_id" value="{{ method.id }}">
        <label for="user_id">Пользователь:</label>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select><br><br>
        <textarea id="datain" name="data_in" placeholder="Введите текст на русском..."></textarea>
        <p class="error-message" id="error-message">Please enter only Russian characters.</p>

        {% if method.caption == 'Caesar' %}
            <label for="shift">Сдвиг:</label>
            <input type="number" name="shift" id="shift" required><br><br>
        {% elif method.caption == 'Vigenere' %}
            <label for="key">Ключ:</label>
            <input type="text" name="key" id="key" required><br><br>
        {% endif %}
        <label for="action">Действие:</label>
        <select name="action" id="action">
            <option value="encrypt">Шифровка</option>
            <option value="decrypt">Расшифровка</option>
        </select><br><br>
        <button type="submit">Отрпавить</button>
    </form>
    <a href="{{ url_for('get_methods') }}">Вернуться к методам</a>

    <script>
        const visibleTextarea = document.getElementById('datain');
        const errorMessage = document.getElementById('error-message');
        const validRegex = /^[АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя0-9\s,.:()_-]*$/;

        visibleTextarea.addEventListener('input', function() {
            if (!validRegex.test(this.value)) {
                errorMessage.style.display = 'block';
                this.value = this.value.replace(/[^АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя0-9\s,.:()_-]/g, '');
            } else {
                errorMessage.style.display = 'none';
            }
        });

        document.getElementById('textForm').addEventListener('submit', function(event) {
            if (!validRegex.test(visibleTextarea.value)) {
                event.preventDefault();
                errorMessage.style.display = 'block';
            } else {
                errorMessage.style.display = 'none';
            }
        });
    </script>
</body>
</html>