<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом</title>
</head>
<body>
    <h1>Добро пожаловать на проект Бунина Кирилла</h1>
    <p><a href="/users/list">Посмотреть пользователей</a></p>
    <p><a href="/methods">Посмотреть методы</a></p>
    <p><a href="/sessions">Посмотреть сессии</a></p>
    <p><a href="/add_user_form">Добавить пользователя</a></p>
    <p><a href="/hack_caesar">Взлом шифра Цезаря</a></p>
    <p><a href="/hack_vigenere">Взлом шифра Виженера</a></p>
</body>
</html>
