<!DOCTYPE html>
<html>
<head>
    <title>Зашифровка/расшифровка</title>
</head>
<body>
    <h1>{{ method.caption }} Method</h1>
    <form action="{{ url_for('encrypt') }}" method="post">
        <input type="hidden" name="method_id" value="{{ method.id }}">
        <label for="user_id">Пользователь:</label>
        <select name="user_id" id="user_id">
            {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select><br><br>
        <label for="data_in">Текст:</label>
        <textarea name="data_in" id="data_in" maxlength="1000" required></textarea><br><br>
        {% if method.caption == 'Caesar' %}
            <label for="shift">Сдвиг:</label>
            <input type="number" name="shift" id="shift" required><br><br>
        {% elif method.caption == 'Vigenere' %}
            <label for="key">Ключ:</label>
            <input type="text" name="key" id="key" required><br><br>
        {% endif %}
        <label for="action">Действие:</label>
        <select name="action" id="action">
            <option value="encrypt">Шифровка</option>
            <option value="decrypt">Расшифровка</option>
        </select><br><br>
        <button type="submit">Отрпавить</button>
    </form>
    <a href="{{ url_for('get_methods') }}">Вернуться к методам</a>
</body>
</html>