<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="{{ url_for('add_user') }}" method="post">
        <label for="login">Login:</label>
        <input type="text" name="login" id="login" required minlength="3" maxlength="30"><br><br>
        <label for="secret">Secret:</label>
        <input type="password" name="secret" id="secret" required minlength="3" maxlength="30"><br><br>
        <button type="submit">Add User</button>
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>